
body {
 background-image: url("back_ground_us.jpg");
 
}
.body_text, .notes{
    width: 800px;
}

.bkg-white {
    background-color: white;    
}

.notes{
    font-size: 10pt;
    font-style: italic;
}

.title, .page-title, .stay-green {
    font-family: TimesNewRoman;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
    width: auto;
}

.stay-green {
    color: green;
    font-size: 20pt;
    font-style: italic;
}

.page-title {
    font-size: 18pt;
}

.tab {
    display: none;
}

.graph {
    display: inline-block;
    border-style: solid;
    border-width: 1pt;
    padding: 2pt;
    margin: 2pt;
    box-shadow: 2px 4px gray;
}

.letter-button, .clear-button, .tab-button {
    margin: 1pt 2pt;
    box-shadow: 1px 2px gray;
}

.letter-button {
    width: 30px;
    
}

.clear-button {
    width: 90px;
}

.tab-button {
    width: 130px;
}

.picker {
    width: 90pt;
    display: inline-block;
    font-weight: bold;
}

.leader-title {
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    background-color: lightsteelblue;    
}

.leaderList {
    display: inline-block;
    width: 390pt;
    padding: 5pt;  
}

.leader_red {
    color: red;
}

.leader_grn {
    color: green;
}

.leader_count, .leader_name, .leader_value {
    display: inline-block;
    margin-right: 3pt;
}

.leader_count, .leader_value {
    text-align: right;
}

.leader_count {
    width: 20pt;
}

.leader_value {
    width: 60pt;
}

.leader_name {
    width: 235pt;
}

.usa-cost {
    color: red;
    font-weight: bold;
    font-size: 24pt;
}

.read-me {
    font-size: 14pt; 
    color: blue;
    cursor: pointer;
}
